<nz-list [nzDataSource]="posts" [nzRenderItem]="itemTemplate" [nzItemLayout]="'horizontal'">

  <ng-template #itemTemplate let-item>
    <nz-comment [nzAuthor]="getUsername(item)" [nzDatetime]="getTime(item)">

      <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="getAvatar(item)"></nz-avatar>

      <nz-comment-content>
        <h3>{{item.title}}</h3>
        <p>{{ item.content }}</p>
      </nz-comment-content>

      <nz-comment-action>Reply to</nz-comment-action>

      <nz-comment-action>
        <span nz-tooltip nzTitle="Like" nz-icon nzType="like"
          [nzTheme]="iLikedOrNot(item, true) ? 'twotone' : 'outline'" (click)="likeOrDislike(item, true)"></span>
        <span class="count like">{{item.allLikeId ? item.allLikeId.length : 0}}</span>
      </nz-comment-action>

      <nz-comment-action>
        <span nz-tooltip nzTitle="Dislike" nz-icon nzType="dislike"
          [nzTheme]="iLikedOrNot(item, false) ? 'twotone' : 'outline'" (click)="likeOrDislike(item, false)"></span>
        <span class="count dislike">{{ item.allDislikeId.length }}</span>
      </nz-comment-action>



     <ng-container *ngIf="item.children && item.children.length">

        <nz-list [nzDataSource]="item.children" [nzRenderItem]="itemTemplate" [nzItemLayout]="'horizontal'">

        </nz-list>

      </ng-container>

    </nz-comment>

  </ng-template>
</nz-list>


<!-- commento -->
<!--

  <nz-list *ngIf="data.length" [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
    <ng-template #item let-item>
      <nz-comment [nzAuthor]="item.author" [nzDatetime]="item.displayTime">
        <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item.avatar"></nz-avatar>
        <nz-comment-content>
          <p>{{ item.content }}</p>
        </nz-comment-content>
      </nz-comment>
    </ng-template>
  </nz-list>
  <nz-comment>
    <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="user.avatar"></nz-avatar>
    <nz-comment-content>
      <nz-form-item>
        <textarea [(ngModel)]="inputValue" nz-input rows="4"></textarea>
      </nz-form-item>
      <nz-form-item>
        <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!inputValue" (click)="handleSubmit()">
          Add Comment
        </button>
      </nz-form-item>
    </nz-comment-content>
  </nz-comment>
 -->
