 nz-descriptions {
   margin: 1rem 1rem;

 }

 ::ng-deep .ant-descriptions-bordered {

   .ant-descriptions-view,
   .ant-descriptions-item-content,
   .ant-descriptions-row {
     border-color: #003669;
     background-color: #003669;
     color: white;
     padding: 0
   }
 }

 #avatar-container {
   position: relative;
   margin-top: 1rem;
   left: calc(50% - 60px);

   >button {
     top: 50px;
     right: 30px
   }
 }

 .ant-input {
   color: white;
   padding: 0;
   padding: 0 0.5rem;

 }

 [disabled] {
   cursor: default;
 }
